---
- name: Install fail2ban
  dnf:
    name: fail2ban
    state: present

- name: Deploy jail.local
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0644"
  notify: Restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: true
    state: started
